:root {
    --color-primary: #3c3c86;      /* Medium gray */
    --color-white: #f0f0f0;        /* Off-white */
    --color-active: #808080;       /* Olive green */
    --color-background: #dcdcdc;   /* Light gray background */
}


/*SCROLL COLOUR*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

/* NAV BAR */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);

}

nav {
    background-color: var(--color-primary);
    height: 80px;
    width: 100%;
}

label.logo {
    color: var(--color-white);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    color: var(--color-white);
}

nav ul li a {
    color: var(--color-white);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.nav:hover {
    background-color: var(--color-active);
    color: var(--color-primary);
}

.active {
    background-color: var(--color-active);
    color: var(--color-primary);
}


.checkbtn {
    font-size: 30px;
    color: var(--color-white);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--color-background);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: var(--color-active);
    }

    #check:checked~ul {
        left: 0;
    }
}

label:hover {
    cursor: pointer;
}



/* footer */

footer {
    background-color:  var(--color-primary);
    color: var(--color-white);
    width: 100%;
    bottom: 0;
    left: 0;
}

footer .heading {
    color: #fefefe;
    max-width: 1010px;
    width: 90%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Poppins", sans-serif;
}

footer .content {
    display: flex;
    justify-content: space-evenly;
    margin: 1.5rem;
}

footer .content p {
    margin-bottom: 1.3rem;
}

footer .content a {
    text-decoration: none;
    color: #fefefe;
}

footer .content a:hover {
    border-bottom: 1px solid #971717;
}

footer .content h4 {
    margin-bottom: 1.3rem;
    font-size: 19px;
}

footer #UpBtn{
padding: 10px 20px;
    font-size: 16px;
    background-color: #0082e6;
    /* Button color */
    color: #ffffff;
    /* Text color */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    animation: pulse 2s infinite;
    /* Apply the pulsing animation */
    box-shadow: 0 0 0 rgba(0, 130, 230, 0.5);
    /* Initial shadow with no blur */
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgba(0, 130, 230, 0.5);
        /* Start with a shadow */
    }

    25% {
        box-shadow: 0 0 20px rgba(0, 130, 230, 0.9);
        /* Increase shadow size at 25% */
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 130, 230, 0.9);
        /* Increase shadow size at 50% */
    }

    100% {
        box-shadow: 0 0 10px rgba(0, 130, 230, 0.5);
        /* Return to the original shadow */
    }
}
@media (max-width: 767px) {
    footer .content {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    footer {
        position: unset;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    footer .content,
    .footer {
        font-size: 14px;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    footer {
        position: unset;
    }
}