.inventory {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-inv {
    height: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar-inventory {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60rem;
    align-items: center;
    padding: 5rem, 5rem, 5rem, 5rem;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    padding: 1rem;
}
.navbar-inventory-search {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 60rem;
    margin-top: 2rem;
    align-items: center;
    padding: 5rem, 5rem, 5rem, 5rem;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    padding: 1rem;
}

.links a.active-inv {
    background-color: var(--main-color);
    color: var(--light-one);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;
}
.links a.active-inv:hover {
    color: var(--light-one);
    background-color: #4e4e88;
}




/* Search bar */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
    flex-direction: column;
    margin-bottom: 1.5rem;

    /* border: black 1px solid;
    border-radius: 15px; */
}
.search-input {
    padding: 10px;
    border: none;
    border-radius: 25px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    outline: none;
}
.search-button {
    background-color: #3c3c86;;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.search-button:hover {
    background-color: #349b00;
}
/* Search bar */


/* Project Items Inventory */

.inventory-items {
    width: 85rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    order: 4;
}

.video {
    object-fit: fill;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .9;
}

projects{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* width: 50%; */
    max-height: 30rem;
    min-height: 30rem;
    text-align: center;

    margin: 1rem 1rem 1rem 1rem;


    /* border: 1px solid black; */
    border-radius: 2%;

    padding: 40px 30px;
    width: 300px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
}
projects a.active-inv {
    background-color: var(--main-color);
    color: var(--light-one);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 0.9rem 2.1rem;
    margin-left: 1rem;
}
projects a.active-inv:hover {
    color: var(--light-one);
    background-color: #4e4e88;
}

.hidden {
    display: none;
}

.car-img-inv {
    width: auto;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
.car-img-inv-details {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}
/* Project Items Inventory */


/* specs */


.spec1 {
    width: 50%;
}
.spec2{
    width: 50%;
    
}

.spec1 il {
    font-size: 1.5rem;
}
/* specs */



/* .box {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);

} */

.column-1 ul {
    font-size: 2rem;
}

/* .navbar-inventory links ul {
    display: block;
} */